.fltrblk
  $iconSize: 30px
  user-select: none
  margin: 0 -5px
  &-group
    margin: 5px
    display: flex

    &--clans
      flex: 0 0 360px

    &--backs
      flex: 0 0 80px

    &--types
      flex: 0 0 160px

  &-item
    display: inline-block
    height: $iconSize
    width: $iconSize
    padding: 5px
    box-shadow: inset 0 0 2px var(--color-bg)
    cursor: pointer
    text-align: center

    input
      display: none

  &-icon
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center

$filters: crab,crane,dragon,lion,phoenix,scorpion,unicorn,neutral,shadowlands,dynasty,conflict

@each $filter in $filters
  .fltrblk-item--#{$filter}
    color: var(--color-#{$filter})
    background: var(--color-text)

    &:hover,
    &.fltrblk-item--active
      background: var(--color-#{$filter})
      color: var(--color-text)

.fltrblk-item--bland
  color: var(--color-bg)
  background: var(--color-text)

  &:hover,
  &.fltrblk-item--active
    background: var(--color-dark)
    color: var(--color-text)
