@font-face {
  font-family: IconFont;
  src: url("/assets/icomoon.woff") format("woff");
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: IconFont !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon--medium {
  font-size: 28px;
}

.icon-influence3plus:before {
  content: "\e900";
}
.icon-influence4:before {
  content: "\e901";
}
.icon-influence3:before {
  content: "\e902";
}
.icon-influence2:before {
  content: "\e903";
}
.icon-influence1:before {
  content: "\e904";
}
.icon-seeker:before {
  content: "\e905";
}
.icon-keeper:before {
  content: "\e906";
}
.icon-fiverings:before {
  content: "\e908";
}
.icon-neutral:before {
  content: "\e909";
  color: var(--color-neutral);
}
.icon-fate:before {
  content: "\e90b";
}
.icon-honor:before {
  content: "\e90c";
}
.icon-unique:before {
  content: "\e90d";
}
.icon-void:before {
  content: "\e90e";
}
.icon-water:before {
  content: "\e90f";
}
.icon-fire:before {
  content: "\e910";
}
.icon-air:before {
  content: "\e911";
}
.icon-earth:before {
  content: "\e912";
}
.icon-military:before {
  content: "\e913";
}
.icon-political:before {
  content: "\e914";
}
.icon-scorpion:before {
  content: "\e915";
  color: var(--color-scorpion);
}
.icon-dragon:before {
  content: "\e916";
  color: var(--color-dragon);
}
.icon-unicorn:before {
  content: "\e917";
  color: var(--color-unicorn);
}
.icon-phoenix:before {
  content: "\e918";
  color: var(--color-phoenix);
}
.icon-lion:before {
  content: "\e919";
  color: var(--color-lion);
}
.icon-crane:before {
  content: "\e91a";
  color: var(--color-crane);
}
.icon-crab:before {
  content: "\e91b";
  color: var(--color-crab);
}
.icon-ph1:before {
  content: "\e91d";
}
.icon-ph2:before {
  content: "\e91c";
}
.icon-ph3:before {
  content: "\e91e";
}
.icon-ph4:before {
  content: "\e91f";
}
.icon-shadowlands:before {
  content: "\e920";
}
