@font-face
  font-family: IconFont
  src: url("/assets/icomoon.woff") format("woff")

.icon
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: IconFont !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  &--medium
    font-size: 28px

  &-influence3plus:before
    content: "\e900"

  &-influence4:before
    content: "\e901"

  &-influence3:before
    content: "\e902"

  &-influence2:before
    content: "\e903"

  &-influence1:before
    content: "\e904"

  &-seeker:before
    content: "\e905"

  &-keeper:before
    content: "\e906"

  &-fiverings:before
    content: "\e908"

  &-neutral:before
    content: "\e909"
    color: var(--color-neutral)

  &-fate:before
    content: "\e90b"

  &-honor:before
    content: "\e90c"

  &-unique:before
    content: "\e90d"

  &-void:before
    content: "\e90e"

  &-water:before
    content: "\e90f"

  &-fire:before
    content: "\e910"

  &-air:before
    content: "\e911"

  &-earth:before
    content: "\e912"

  &-military:before
    content: "\e913"

  &-political:before
    content: "\e914"

  &-scorpion:before
    content: "\e915"
    color: var(--color-scorpion)

  &-dragon:before
    content: "\e916"
    color: var(--color-dragon)

  &-unicorn:before
    content: "\e917"
    color: var(--color-unicorn)

  &-phoenix:before
    content: "\e918"
    color: var(--color-phoenix)

  &-lion:before
    content: "\e919"
    color: var(--color-lion)

  &-crane:before
    content: "\e91a"
    color: var(--color-crane)

  &-crab:before
    content: "\e91b"
    color: var(--color-crab)

  &-ph1:before
    content: "\e91d"

  &-ph2:before
    content: "\e91c"

  &-ph3:before
    content: "\e91e"

  &-ph4:before
    content: "\e91f"

  &-shadowlands:before
    content: "\e920"
