.deckbuilder {
  display: grid;
}
.buildercards-card_rows {
  display: block;
  margin: 0;
  padding: 0;
}

.buildercards-row {
  display: block;
}
.buildercards-quantity_picker {
  display: block;
}
.buildercards-quantity_option {
  display: block;
}
.buildercards-quantity_option--active {
}
.buildercards-quantity_card {
  display: block;
}
