// ------------
// STRONGHOLD PICKER
// ------------
.strongholdpicker
  grid-column: 1/13

  &-options
    margin: 0
    padding: 0
    display: grid
    grid-template-columns: repeat(5, 1fr)
    gap: 10px 15px
    place-items: start center

  &-item
    list-style: none
    cursor: pointer

// ------------
// STRUCTURE
// ------------
.deckbuilder-decklist
  grid-column: 1/13
  @media screen and ( min-width: 1024px)
    grid-column: 1/7

.deckbuilder-builder
  grid-column: 1/13
  @media screen and ( min-width: 1024px)
    grid-column: 7/13

// ------------
// FILTERS
// ------------
.filters
  &-row
    display: flex
    flex-wrap: wrap

// ------------
// CARD PICKER
// ------------
.cardlist
  margin-top: 10px
  width: 100%
  border-collapse: collapse

  td
    padding: 0

  tbody tr
    border-bottom: 1px solid var(--color-invisiline)

  &-headers
    th
      padding: 0 0 10px

  &-quantity
    width: 120px
    user-select: none

  &-option
    background: var(--color-bg)
    display: inline-block
    width: 30px
    height: 40px
    text-align: center
    cursor: pointer
    font-size: 18px
    line-height: 40px
    box-shadow: inset 0 0 2px var(--color-text)

    &--active
      background: var(--color-weak)
      font-weight: bold

    input
      display: none

  &-clan, &-type
    width: 42px
    text-align: center
  &-title
    font-size: 16px
    line-height: 20px

  &-influence
    width: 2rem
    text-align: right

  &-cost,
  &-military,
  &-political,
  &-strength,
  &-glory
    width: 1.5rem
    text-align: center
    user-select: none
  &-military,
  &-political,
  &-strength,
  &-glory
    display: none
    @media screen and ( min-width: 667px)
      display: table-cell

$filters: crab, crane, dragon, lion, phoenix, scorpion, unicorn, neutral, shadowlands, conflict, dynasty, character, attachment, event, holding,
@each $filterType in $filters
  .cardlist-filtered--#{$filterType}
    .cardlist-row--#{$filterType}
      display: none

$clans: crab, crane, dragon, lion, phoenix, scorpion, unicorn, neutral, shadowlands
@each $clan in $clans
  .cardlist-row--#{$clan}
    .cardlist-clan,.cardlist-influence
      color: var(--color-#{$clan})

// ------------
// PROVINCE SELECTOR
// ------------

.provinceselector
  display: block
  &-dismiss
    button
      width: 100%
      line-height: 30px
      cursor: pointer

  &-tabs
    display: grid
    grid-template-columns: repeat(5,1fr)
  &-tab
    text-align: center
    line-height: 40px
    cursor: pointer
    background: #FC0
    border-color: #000
    border-style: solid
    border-width: 1px 1px 1px 0
    &:first-child
      border-width: 1px

    input
      display: none
    &--active
      background: #0CF
  &-provinces
    margin-top: 20px
    display: grid
    grid-template-columns: repeat(2,1fr)
    gap: 10px
    @media screen and ( min-width: 768px)
      grid-template-columns: repeat(3,1fr)

  &-province
    padding: 0
    border: none
    background: transparent
    cursor: pointer
