// ------------
// STRONGHOLD PICKER
// ------------
.strongholdpicker {
  grid-column: 1/13;
}

.strongholdpicker-options {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px 15px;
  place-items: start center;
}

.strongholdpicker-item {
  list-style: none;
  cursor: pointer;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

// ------------
// STRUCTURE
// ------------
.deckbuilder-decklist {
  grid-column: 1/7;
}
.deckbuilder-builder {
  grid-column: 7/13;
}

// ------------
// CARD PICKER
// ------------
.cardlist {
  padding: 0;
  margin: 0;
}
.cardlist-row {
  display: block;
}
.cardlist-picker {
  display: inline-block;
}
.cardlist-option {
  background: #fff;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-color: #000;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  cursor: pointer;

  &:first-child {
    border-width: 1px;
  }

  input {
    display: none;
  }
}
.cardlist-option--active {
  background: #fc0;
}

.cardlist-clan,
.cardlist-type,
.cardlist-title,
.cardlist-influence,
.cardlist-cost,
.cardlist-military,
.cardlist-political,
.cardlist-glory,
.cardlist-strength {
  display: inline-block;
}
