/* LIGHT THEME */
$miya-muted-1-rgba: rgba(242, 240, 213, 1);
$miya-muted-2-rgba: rgba(242, 194, 48, 1);
$miya-muted-3-rgba: rgba(191, 156, 52, 1);
$miya-muted-4-rgba: rgba(217, 204, 197, 1);
$miya-muted-5-rgba: rgba(166, 84, 55, 1);

/* DARK THEME */
$miya-dark-1-rgba: rgba(37, 38, 37, 1);
$miya-dark-2-rgba: rgba(73, 115, 80, 1);
$miya-dark-3-rgba: rgba(191, 155, 48, 1);
$miya-dark-4-rgba: rgba(115, 86, 79, 1);
$miya-dark-5-rgba: rgba(242, 242, 242, 1);

$unit: 12px;
