@import ../node_modules/normalize.css/normalize.css

body

  --color-bg: rgb(37, 38, 37)
  --color-accent: rgb(242, 242, 242)
  --color-accent--shadow: rgba(242, 242, 242, 0.6)
  --color-dark: rgb(73, 115, 80)
  --color-weak: rgb(115, 86, 79)
  --color-strong: rgb(191, 155, 48)
  --color-text: rgb(242, 235, 214)
  --color-invisiline: rgba(255, 255, 255, 0.1)
  @media screen and (prefers-color-scheme: light)
    --color-bg: rgb(37, 38, 37)
    --color-accent: rgb(242, 242, 242)
    --color-accent--shadow: rgba(242, 242, 242, 0.6)
    --color-dark: rgb(73, 115, 80)
    --color-weak: rgb(115, 86, 79)
    --color-strong: rgb(191, 155, 48)
    --color-text: rgb(242, 235, 214)
    --color-invisiline: rgba(255, 255, 255, 0.1)

  --color-dynasty: #3c2924
  --color-conflict: #964534

  --color-crab: #75768A
  --color-crab--light: #B6B8D6
  --color-crab--dark: #3F3F4A
  --color-crane: #A2C1D3
  --color-crane--light: #ADCDE0
  --color-crane--dark: #728794
  --color-dragon: #5B8673
  --color-dragon--light: #65947F
  --color-dragon--dark: #202F28
  --color-lion: #BFA863
  --color-lion--light: #CCB46A
  --color-lion--dark: #423A22
  --color-phoenix: #BF7F5A
  --color-phoenix--light: #CC8860
  --color-phoenix--dark: #422C1F
  --color-scorpion: #8C463F
  --color-scorpion--light: #994C45
  --color-scorpion--dark: #301816
  --color-unicorn: #715E8C
  --color-unicorn--light: #7C6799
  --color-unicorn--dark: #272030
  --color-neutral: #A5A5A3
  --color-neutral--light: #B3B3B1
  --color-neutral--dark: #393939
  --color-shadowlands: #263312
  --color-shadowlands--light: #85B03F
  --color-shadowlands--dark: #1B240D

body
  color: var(--color-text)

@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1
