@use "../node_modules/normalize.css/normalize.css";

body {
  --color-bg: rgb(242, 240, 213);
  --color-accent: rgb(242, 194, 48);
  --color-dark: rgb(191, 156, 52);
  --color-weak: rgb(217, 204, 197);
  --color-strong: rgb(166, 84, 55);
  --color-text: rgb(33, 17, 11);

  @media screen and (prefers-color-scheme: dark) {
    --color-bg: rgb(37, 38, 37);
    --color-accent: rgb(242, 242, 242);
    --color-dark: rgb(73, 115, 80);
    --color-weak: rgb(115, 86, 79);
    --color-strong: rgb(191, 155, 48);
    --color-text: rgb(242, 235, 214);
  }
}

body {
  color: var(--color-text);
}
